#board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    background-color: grey;
    width: 800px;
    height: 800px;
}

.box {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.box.hidden {
    display: none;
}

.box > .body {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 400px);
    height: 300px;
    width: 800px;
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

.box .body > img {
    height: 150px;
    width: 150px;
}

.box .body > img:hover {
    cursor: pointer;
    background-color: chocolate;
}

.box > .body > .checkmate-body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.box > .body > .checkmate-body > span {
    font-size: 32px;
}

.box > .body > .checkmate-body > button {
    background-color: rgb(13, 110, 253);
    color: white;
    padding: 24px 48px;
    font-size: 32px;
    border: none;
    border-radius: 50px;
}