.square {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.square .piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

.square .piece:hover {
    cursor: grab;
}

.square .piece:active {
    cursor: grabbing;
}

.black-square {
    background-color: saddlebrown;
}

.white-square {
    background-color: white;
}

.img {
    width: 100px;
    height: 100px;
}

.highlighted-square:not(.piece-square)::before {
    content: " ";
    width: 90px;
    height: 90px;
    background-color: green;
}

.highlighted-square.piece-square::before {
    position: absolute;
    content: " ";
    width: 100px;
    height: 100px;
    border: 10px solid red;
}